<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.takomenteshashvili.MotivationApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>motivation-app</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AveriaSerifLibre-Bold.ttf</string>
		<string>AveriaSerifLibre-BoldItalic.ttf</string>
		<string>AveriaSerifLibre-Italic.ttf</string>
		<string>AveriaSerifLibre-Light.ttf</string>
		<string>AveriaSerifLibre-LightItalic.ttf</string>
		<string>AveriaSerifLibre-Regular.ttf</string>
	</array>
</dict>
</plist>
